:root {
--violet: hsl(257, 40%, 49%);
--soft-magenta: hsl(300, 69%, 71%);
}

body {
  background-color: var(--violet);
  text-align: center;
  color: white;
  font-size: 16px; 
  font-family: 'Open Sans', sans-serif, monospace;
  font-weight: 400;
}

main {
  background-image: url("../images/bg-mobile.svg");
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 25px;
  line-height: 2rem;
  padding-bottom: 2rem;
}

p {
  line-height: 2rem;
  padding-bottom: 1rem;
}

.invisibleWrapper {
  padding: 3rem;
}

.logoImg {
  padding-bottom: 3rem;
  display: flex;
}

.wireframeImg {
  padding-bottom: 3rem;
}

button {
  padding: 1rem 6rem;
  border-radius: 25px;
  border: none;
  color: var(--violet);
  margin-bottom: 4rem;
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.5);
}

button:hover {
  cursor: pointer;
  background-color: var(--soft-magenta);
  color: white;
}

i {
  border: 1px solid white;
  border-radius: 50%;
  padding: .5rem;
  margin-right: 1rem;
}

i:first-child {
  padding: .5rem .65rem;
}

i:hover {
  cursor: pointer;
  color: var(--soft-magenta);
  border: 1px solid var(--soft-magenta);
}

.attribution a {
  text-decoration: none;
  color: white;
}

@media (min-width: 1440px) {

  main {
    background-image: url("../images/bg-desktop.svg");
    width: 100%;
    height: 100%;
  }

  .invisibleWrapper {
    display: flex;
  }

  .socials {
    text-align: end;
  }

  .top {
    flex: 1;
  }

  .bottom {
    text-align: left;
    flex: 1;
    margin: auto 3rem;
    align-items:center;
    justify-content:center;
  }

  h1 {
    font-size: 40px;
    line-height: 3rem;
  }

  button {
    padding: 1rem 5rem;
  }

}